<script src="~/Scripts/AppScripts/validate.js"></script>
<script src="~/Areas/IPDC/Scripts/Designation/designation.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>