<script src="~/Areas/Auth/Scripts/validate.js"></script>
<script src="~/Areas/Auth/Scripts/module.js"></script>
@{
    ViewBag.Title = "Module Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<h2>Module Information</h2>
@*<div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Attention!</strong>
        This is Highest level of grouping of organizational functionalities.
        <ul>
            <li>
                Instruction-1
            </li>
            <li>Instruction-2</li>
        </ul>
    </div>*@
<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>