

@{
    ViewBag.Title = "ProductEntry";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<link href="~/Content/customassets/css/CPV.css" rel="stylesheet" />
<link href="~/Content/customassets/css/officeDesignationArea.css" rel="stylesheet" />
<link href="~/Areas/IPDC/Content/cif.css" rel="stylesheet" />
<link href="~/Content/customassets/css/cifIncomeStatement.css" rel="stylesheet" />
<link href="~/Content/customassets/css/application.css" rel="stylesheet" />
<link href="~/Areas/IPDC/Content/CIB.css" rel="stylesheet" />
<script src="~/Areas/IPDC/Scripts/Product/ProductEntry.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
@*<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>*@
<script src="~/Scripts/knockout-date-bindings.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>

<style>
    .form-control {
        width: 100% !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .col-sm-2 {
        width: 22.4444447% !important;
    }
</style>


<section class="panel-bodycontent" id="ProductEntry">
    <header class="panel-heading bodytitle">
        <h2 class="panel-title font">
            <b>Product Entry</b>
        </h2>
    </header><br />


    <div class="container-fluid ">

        <div class="col-sm-12">
            <form class="form-horizontal" role="form" id="employee-info">
                <div class="col-sm-12">

                    <div class="ds-content">
                        <div class="row">


                            <div class="form-group row row_design">
                                <div class="col-sm-2">
                                    <label class="control-label">Name :</label>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" data-bind="value:Name" class="form-control" />
                                </div>

                                <label class="col-sm-2 control-label">Short Name :</label>
                                <div class="col-sm-3">
                                    <input type="text" data-bind="value:ShortName" class="form-control" />
                                </div>

                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Prefix :</label>
                                <div class="col-sm-3">
                                    <input type="text" data-bind="value:Prefix" class="form-control" />
                                </div>



                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Product type :</label>
                                <div class="col-sm-3">
                                    <select data-bind="options: ProductTypes, value: ProductType, optionsCaption:'--Select--', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select>
                                </div>

                                <label class="col-sm-2 control-label">Deposit Type :</label>
                                <div class="col-sm-3">
                                    <select data-bind="options: DepositTypes, value: DepositType, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select>
                                </div>

                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Min Term :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MinTerm" class="form-control" />
                                </div>

                                <label class="col-sm-2 control-label">Max Term :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MaxTerm" class="form-control" />
                                </div>

                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Min Amount :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MinAmount" class="form-control" />
                                </div>

                                <label class="col-sm-2 control-label">Max Amount :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MaxAmount" class="form-control" />
                                </div>

                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Application Fee :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:ApplicationFee" class="form-control" />
                                </div>

                                <label class="col-sm-2 control-label">Max Processing Fee Rate :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MaxProcessingFeeRate" class="form-control" />
                                </div>

                            </div>
                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Max Processing Fee Amount :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MaxProcessingFeeAmount" class="form-control" />
                                </div>

                                <label class="col-sm-2 control-label">Max Doc Fee Rate :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MaxDocFeeRate" class="form-control" />
                                </div>

                            </div>
                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Max Doc Fee Amount :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MaxDocFeeAmount" class="form-control" />
                                </div>

                                <label class="col-sm-2 control-label">Min CIB Charge :</label>
                                <div class="col-sm-3">
                                    <input type="number" data-bind="value:MinCIBCharge" class="form-control" />
                                </div>

                            </div>
                            <div class="panel-bodycontent">
                                <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#rates">
                                    <h2 class="panel-title font"><b>Product Rates</b></h2>
                                </header>
                                <div class="panel-body collapse" id="rates">
                                    <div class="form-group row row_design_detail">
                                        <div>
                                            <div class="col-sm-offset-9 col-sm-3" style="text-align:center;">
                                                <a class="plus" href='#' data-bind='click:AddProductRates'>Add Credit Card<span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered">
                                                <thead class="headcolor">
                                                    <tr>
                                                        <td>Card Rate</td>
                                                        <td>Positive Variance</td>
                                                        <td>Negative Variance</td>
                                                        <td>Effective Date</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach:ProductRates">
                                                    <tr>
                                                        <td data-bind="validationElement:CardRate, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:CardRate" /></td>
                                                        <td data-bind="validationElement:PositiveVariance, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:PositiveVariance" /></td>
                                                        <td data-bind="validationElement:NegativeVariance, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:NegativeVariance" /></td>

                                                        @*<td><input class="form-control" type="text" data-bind="value:CreditCardIssuersName,  valueUpdate:'keyup'" /></td>*@
                                                        <td class="input-group">
                                                            <input type="text" class="form-control" data-bind="datepicker:EffectiveDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'">
                                                            <span class="help-block" style="display: none;"></span>
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a class="plus" href='#' data-bind='click: $parent.AddProductRates'><span class="glyphicon glyphicon-plus"></span></a>
                                                            <a class="minus" href='#' data-bind='click: $parent.RemoveProductRates'><span class="glyphicon glyphicon-minus"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                @*<tfoot class="headcolor">
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="text-align: right;">Total</td>
                                                            <td data-bind="text:TotalCreditCard"></td>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>*@
                                            </table>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-bodycontent">
                                <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#spclrates">
                                    <h2 class="panel-title font"><b>Product Special Rate</b></h2>
                                </header>
                                <div class="panel-body collapse" id="spclrates">
                                    <div class="form-group row row_design_detail">
                                        <div>
                                            <div class="col-sm-offset-9 col-sm-3" style="text-align:center;">
                                                <a class="plus" href='#' data-bind='click:AddSpclProductRates'>Add Special Rates<span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered">
                                                <thead class="headcolor">
                                                    <tr>
                                                        <td>Deviation</td>

                                                        <td>Effective Date</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach:ProductSpecialRate">
                                                    <tr>
                                                        <td data-bind="validationElement:Deviation, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:Deviation" /></td>

                                                        <td class="input-group">
                                                            <input type="text" class="form-control" data-bind="datepicker:EffectiveDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'">
                                                            <span class="help-block" style="display: none;"></span>
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a class="plus" href='#' data-bind='click: $parent.AddSpclProductRates'><span class="glyphicon glyphicon-plus"></span></a>
                                                            <a class="minus" href='#' data-bind='click: $parent.RemoveSpclProductRates'><span class="glyphicon glyphicon-minus"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                @*<tfoot class="headcolor">
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="text-align: right;">Total</td>
                                                            <td data-bind="text:TotalCreditCard"></td>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>*@
                                            </table>
                                           
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-bodycontent">
                                <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#DPSMaturitySchedule">
                                    <h2 class="panel-title font"><b>DPS Maturity Schedule</b></h2>
                                </header>
                                <div class="panel-body collapse" id="DPSMaturitySchedule">
                                    <div class="form-group row row_design_detail">
                                        <div>
                                            <div class="col-sm-offset-9 col-sm-3" style="text-align:center;">
                                                <a class="plus" href='#' data-bind='click:AddDPSMaturitySchedule'>Add DPS Maturity Schedule<span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered">
                                                <thead class="headcolor">
                                                    <tr>
                                                       
                                                        <td>Effective Date</td>
                                                        <td>Initial Deposit</td>
                                                        <td>Installment Amount</td>
                                                        <td>Term</td>
                                                        <td>Maturity Amount</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach:DPSMaturitySchedule">
                                                    <tr>
                                                        <td class="input-group">
                                                            <input type="text" class="form-control" data-bind="datepicker:EffectiveDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'">
                                                            <span class="help-block" style="display: none;"></span>
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </div>
                                                        </td>
                                                        <td data-bind="validationElement:InitialDeposit, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:InitialDeposit" /></td>
                                                        <td data-bind="validationElement:InstallmentAmount, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:InstallmentAmount" /></td>
                                                        <td data-bind="validationElement:Term, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:Term" /></td>
                                                        <td data-bind="validationElement:MaturityAmount, valueUpdate:'keyup'"><input class="form-control" type="text" min="0" data-bind="value:MaturityAmount" /></td>
                                                        <td>
                                                            <a class="plus" href='#' data-bind='click: $parent.AddDPSMaturitySchedule'><span class="glyphicon glyphicon-plus"></span></a>
                                                            <a class="minus" href='#' data-bind='click: $parent.RemoveDPSMaturitySchedule'><span class="glyphicon glyphicon-minus"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                           
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-bodycontent">
                                <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#doc">
                                    <h2 class="panel-title font"><b>Document Setup</b></h2>
                                </header>
                                <div class="panel-body collapse" id="doc">
                                    <div class="form-group row row_design_detail">
                                        <div>
                                            <div class="col-sm-offset-9 col-sm-3" style="text-align:center;">
                                                <a class="plus" href='#' data-bind='click:AddDocumentSetup'>Add Document Setup<span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered">
                                                <thead class="headcolor">
                                                    <tr>

                                                        <td>Doc Name</td>
                                                        <td>Is Mandatory</td>
                                                        <td>Customer Type</td>
                                                        <td>Doc Collection Stage</td>
                                                        <td>Company Legal Status</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="foreach:DocumentSetups">
                                                    <tr>
                                                        <td><select data-bind="options: $parent.Documents, value: DocId, optionsCaption:'--Select--', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select></td>
                                                        @*<td data-bind="validationElement:DocName, valueUpdate:'keyup'"><input class="form-control" type="text" data-bind="text:DocName" /></td>*@
                                                        <td data-bind="validationElement:IsMandatory, valueUpdate:'keyup'"><input type="checkbox" data-bind="checked: IsMandatory"></td>
                                                        <td><select data-bind="options: $parent.CustomerTypes, value: CustomerType, optionsCaption:'--Select--', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select></td>
                                                        <td><select data-bind="options:  $parent.DocCollectionStages, value: DocCollectionStage, optionsCaption:'--Select--', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select></td>
                                                        <td><select data-bind="options:  $parent.CompanyLegalStatuses, value: CompanyLegalStatus, optionsCaption:'--Select--', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select></td>
                                                        <td>
                                                            <a class="plus" href='#' data-bind='click: $parent.AddDocumentSetup'><span class="glyphicon glyphicon-plus"></span></a>
                                                            <a class="minus" href='#' data-bind='click: $parent.RemoveDocumentSetup'><span class="glyphicon glyphicon-minus"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-bodycontent">

                                <div class="panel-bodycontent">
                                    <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#securities">
                                        <h2 class="panel-title font"><b>Product Security</b></h2>
                                    </header>

                                    <div class="panel-body collapse in" id="securities">
                                        <div class="form-group row row_design_detail">
                                            <div class="col-sm-offset-9 col-sm-3" style="text-align: center;">
                                                <a class="plus" href='#' data-bind='click: AddSecurities'>Add Securities <span class="glyphicon glyphicon-plus"></span></a>
                                            </div>
                                        </div>
                                        <div data-bind="foreach:ProductSecurity">
                                            <div class="form-group row row_design_detail">
                                                <div class="col-sm-2">
                                                    <label class="control-label">Security Description</label>
                                                </div>
                                                <div class="col-sm-5">
                                                    <textarea class="form-control" data-bind="value : SecurityDescription"></textarea>
                                                </div>
                                                <div class="col-sm-2">
                                                    <label class="control-label">Mandatory</label>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="checkbox" data-bind="checked: IsMandatory">
                                                </div>
                                                <div class="col-sm-1" style="text-align: center;">
                                                    <a class="plus" href='#' data-bind='click: $parent.AddSecurities'><span class="glyphicon glyphicon-plus"></span></a>
                                                    <a class="minus" href='#' data-bind='click: $parent.RemoveSecurities'><span class="glyphicon glyphicon-minus"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Joint Account Allowed :</label>
                                <div class="col-sm-3">
                                    <input type="checkbox" data-bind="checked: JointAccountAllowed">
                                </div>

                                <label class="col-sm-2 control-label">Flex Amount Allowed :</label>
                                <div class="col-sm-3">
                                    <input type="checkbox" data-bind="checked: FlexAmountAllowed">
                                </div>

                            </div>

                            <div class="form-group row row_design">

                                <label class="col-sm-2 control-label">Proposal Product :</label>
                                <div class="col-sm-3">
                                    <select data-bind="options: ProposalProducts, value: ProposalProduct, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select>
                                </div>

                                <label class="col-sm-2 control-label">Facility Type :</label>
                                <div class="col-sm-3">
                                    <select data-bind="options: FacilityTypes, value: FacilityType, optionsCaption:'Choose One..', optionsValue:'Id', optionsText: 'Name'" class="form-control"></select>
                                </div>

                            </div>
                            <br />

                            <div class="form-group row row_design">

                                <div class="col-sm-offset-10 col-sm-2">
                                    <button type="submit" data-bind="click:Submit" class="btn btn-success" style="float:left; margin-right: 3px !important;">Save</button>




                                </div>

                            </div>
                            <div id="ProductSuccessModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Response</h4>
                                        </div>
                                        <div class="modal-body" align="center">
                                            <p id="ProductSuccessModalText"></p>

                                            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</section>

