<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Areas/IPDC/Scripts/CIF/cifCards.js"></script>
<link href="~/Content/customassets/css/officeDesignationArea.css" rel="stylesheet" />
<link href="~/Areas/IPDC/Content/cif.css" rel="stylesheet" />
<link href="~/Content/customassets/css/cifIncomeStatement.css" rel="stylesheet" />


@{
    ViewBag.Title = "CIF Reference";
    //Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<style>
    .form-control {
        width: 100% !important;
    }
</style>
<div scrolling="no" style="overflow:hidden;">
    <section class="panel-bodycontent">
        <header class="panel-heading bodytitle">

            <h2 class="panel-title font"><b>Bank Accounts and Credit Card Informations</b></h2>

        </header>
        <section>
            <div class="container-fluid">
                <div class="col-sm-12">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-bodycontent">
                                <div class="panel-heading row_design_cifNetworth">
                                    <label>Bank Accounts</label>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered">
                                        <thead class="headcolor">
                                            <tr>
                                                <th>Account No.</th>
                                                <th>Routing No.</th>
                                                <th>Bank Name</th>
                                                <th>Branch Name</th>
                                                <th><a class="plus" href='#' data-bind='click: AddBankAccountLine'><span class="glyphicon glyphicon-plus"></span> <span>Add Account</span></a></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:BankAccounts">
                                            <tr>
                                                <td><input type="text" class="form-control" data-bind="value:AccountNo" /></td>
                                                <td><input type="text" class="form-control" data-bind="value:RoutingNo" /></td>
                                                <td><input type="text" class="form-control" data-bind="value:BankName" /></td>
                                                <td><input type="text" class="form-control" data-bind="value:BranchName" /></td>
                                                <td>
                                                    <a href='#' class="plus" data-bind='click: $parent.AddBankAccountLine'><span class="glyphicon glyphicon-plus"></span></a>
                                                    <a href='#' class="minus" data-bind='click: $parent.RemoveBankAccountLine'><span class="glyphicon glyphicon-minus"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-bodycontent">
                                <div class="panel-heading row_design_cifNetworth">
                                    <label>Credit Cards</label>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered">
                                        <thead class="headcolor">
                                            <tr>
                                                <th>Credit Card No.</th>
                                                <th>Issuer's Name</th>
                                                <th>Issue Date</th>
                                                <th>Card Limit</th>
                                                <th><a class="plus" href='#' data-bind='click: AddCreditCardLine'><span class="glyphicon glyphicon-plus"></span> <span>Add Credit Card</span></a></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:CreditCards">
                                            <tr>
                                                <td data-bind="validationElement: CreditCardNo"><input type="text" class="form-control" data-bind="value:CreditCardNo" /></td>
                                                <td><input type="text" class="form-control" data-bind="value:CreditCardIssuersName" /></td>
                                                <td>
                                                    <div class="input-group input-group_cif date" style="padding-left:15px; padding-right:15px;">
                                                        <input type="text" class="form-control lignHeightDate" data-bind="datepicker:CreditCardIssueDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup'" />
                                                        <span class="help-block" style="display: none;"></span>
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><input type="number" min="0" class="form-control" data-bind="value:CreditCardLimit" /></td>
                                                <td>
                                                    <a href='#' class="plus" data-bind='click: $parent.AddCreditCardLine'><span class="glyphicon glyphicon-plus"></span></a>
                                                    <a href='#' class="minus" data-bind='click: $parent.RemoveCreditCardLine'><span class="glyphicon glyphicon-minus"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <form class="form-horizontal" role="form">


                            <div class="form-group row row_design">
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-4">

                                </div>

                                <div class="col-sm-6">
                                    <button type="submit" data-bind="click:Submit" class="btn btn-success">Save</button>
                                    <button type="submit" data-bind="click:Reset" class="btn btn-default">Reset</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                                </div>
                                <div class="col-sm-1">

                                </div>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        </section>

        <div>
            <div id="successModalCards" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Response</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p id="successModalCardsText"></p>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



