@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var CompanyId = ViewBag.CompanyId;
}

<script src="~/Scripts/App/validate.js"></script>
<script>
    var userCompanyId = parseInt(@CompanyId);
</script>
<script src="~/Areas/Auth/Scripts/applicationCreate.js"></script>

<h2>Applications</h2>

<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>