@{
    ViewBag.Title = "RolePermissions";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}
<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
<script src="~/Scripts/jsTree3/jstree.min.js"></script>
<script src="~/Areas/Auth/Scripts/Role/role-permission.js"></script>
<section>
    <div id="rolePermissionAssignment">
        <div class="row">
            <label class="col-sm-1">Role</label>
            <div class="col-sm-3">
                <select data-bind="options: RoleList, value: RoleId, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...'" class=" form-control"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="MenuHierarchy" class="demo" style="margin-top:2em;"></div>
                <div>
                    <button class="btn-chpass btn-success" data-bind="click:Save" > Save </button>
                </div>
            </div>
        </div>
    </div>
</section>