<script src="~/Areas/Auth/Scripts/menu.js"></script>
<script src="~/Areas/Auth/Scripts/validate.js"></script>
@{
    ViewBag.Title = "Menu information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}



<h2>@ViewBag.Title</h2>

<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>
